body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: green;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
    background-color: white;
    height: 60px;
}

.nav__menu {
    padding: 16px;
}

.nav__logo{
    padding: 15px;
}

.nav__logo img {
    width: 210px;
    height: 30px;
}

.nav__menu-list {
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    gap: 20px;
    height: 30px;
    margin: 0;
}

.nav__menu-link {
    text-decoration: none;
    color: #333333;
}